@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url(./img/Bitmap2.png);
  max-width: 100%;
}

.container {
  display: flex;
  border-bottom: 2px solid rgba(151, 151, 151, 1);
  padding-bottom: 32px;
  margin-inline: 165px;
  margin-block: 30px;
}
.container ul {
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  /* font-size: 20px; */
  font-weight: 400;
}

.container ul a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
.container a:hover {
  color: rgba(251, 175, 133, 1);
}

.cart {
  margin-left: auto;
}
.toggle {
  margin-right: auto;
}

.body-text {
  margin-top: 225px;
  color: rgba(255, 255, 255, 1);
  width: 398px;
  height: 346px;
  margin-inline: 165px;
}

.product {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  margin-bottom: 24px;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 19.12px;
}
.body-text p {
  margin-bottom: 24px;
}

.first-p {
  font-size: 56px;
}
.second-p {
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 75%);
  line-height: 25px;
  text-align: center;
}
.button {
  border: none;
  background-color: #d87d4a;
  padding: 15px 39px;
  color: #fbfbfb;
}
.button:hover {
  background-color: rgba(251, 175, 133, 1);
}

@media (max-width: 768px) {
  body {
    background-image: url(./img/bitma\ tablet.png);
  }
  .container {
    margin-inline: 39px;
  }
  .container ul {
    display: none;
  }
  .site-logo {
    margin-left: -45%;
  }
  .body-text {
    margin-inline: 220px;
    margin-top: 140px;
  }
  .button {
    margin-inline: 90px;
  }
  .second-p {
    width: 349px;

    align: center;
  }
}
@media (min-width: 769px) {
  .toggle {
    display: none;
  }

  .body-text {
    margin-top: 150px;
  }
}
@media (max-width: 1024px) {
  .container {
    margin-inline: 90px;
  }
}
@media (max-width: 425px) {
  .site-logo {
    margin: auto;
  }
  body {
    background-image: url(./img/Bitmap\ mobile8.png);
  }
  .body-text {
    margin-inline: 20px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .site-logo {
    margin: auto;
  }
  body {
    background-image: url(./img/Bitmap\ mob\ s.png);
  }
  .body-text {
    margin-inline: -24px;
  }
  .second-p {
    margin-left: 45px;

    align: center;
  }
}
@media (max-width: 320px) {
  .container {
    margin-inline: 20px;
  }
}
